*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:rgb(63, 62, 62) ;
    
}
.uper{
    display: flex;
    gap: 150px;
    margin-top: 25px;
    padding-left: 60px;
    margin-left: 100px;
}
.uper ul{
    display: flex;
    gap: 10px;
    margin: left 100px; 
}
button{
   padding-left: 5px;
   margin-left: 30px;
   border-radius: 10px;
   border-color: yellow;
}
.taxeariya{
    display: flex;
}
.taxeariya h1{
    font-size: 100px;
    color: aliceblue;
    margin-left: 50px;
}